@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --game-color: #f0f1f0;
    --input-unfocus-color: #e6e6e6;
    --input-focus-color: #f7f7f7;
    --button-unfocus-color: #a888ea;
    --buton-focus-color: #723ae0;
  }

.tournament-container{
    @apply flex flex-col gap-5 my-5 items-center justify-center;
}
.game-container{
    @apply outline outline-2 outline-[var(--game-color)];
}
.game-name{
    @apply text-lg font-bold p-2 bg-[var(--game-color)];
}
.team-name{
    @apply p-3 font-semibold ;
}
.team-list{
    @apply flex flex-col gap-4;
}
.player{
    @apply flex gap-5 mx-5;
}
.input-unfocus{
    @apply bg-[var(--input-unfocus-color)];
}
.input-focus{
    @apply bg-[var(--input-focus-color)];
}
.player-name{
    @apply w-3/4 pl-[15px]  rounded-md;
}
.player-age{
    @apply w-20 pl-[15px]  rounded-md;
}
.save-button{
    @apply p-2 w-20 rounded-md;
}
.save-unfocus-button{
    @apply save-button bg-[var(--button-unfocus-color)];
}
.save-focus-button{
    @apply save-button bg-[var(--buton-focus-color)];
}
.button-hover{
    @apply hover:scale-110;
}
.extend-button{
    @apply flex items-center justify-center font-bold text-xl pb-3 ml-5 mt-3 rounded-lg bg-[var(--input-focus-color)] w-10 h-5 cursor-pointer hover:scale-125;
}
